*, *::before, *::after {
	box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}



html, body {
	height: 100%;
	
}
body {
	margin: 0;
}


/*layout css start*/


main {
	width: 80%;
	margin: 0 auto;
	height: 100%;
	background-color: grey;

}

#friends {
	width: 250px;
	height: 100%;
	background-color: teal;
	float: left;
}

#messages {
	height: 100%;
	margin-left: 250px;
	background-color: orange;

}
#messagebox {
	height: 80px;
	width: 100%;
	background-color: gray;
}


/* layout css end */

/* friends list css start */
#friends ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


#friends ul li {
	padding: 5px;
	border-bottom: 1px solid black;
	
}
#friends ul li img {
	width: 50px;
	float: left;
	border-radius: 50%;

}
#friends ul li div:first-of-type {
	width: 150px;
	float: left;
	padding-left: 10px;

}
#friends ul li div:first-of-type h2,
#friends ul li div:first-of-type h3 {
	margin: 0;
}


#friends ul li div:last-of-type {
	width: 40px;
	float: left;
}



/* friends list css end */
